body.theSaloon{
  background-color: #eff7fc;
  margin:0;
  padding:0;
  box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 1.5px 2.8px 0px rgba(0,0,0,0.1);
  /*background: url(https://unsplash.it/1920/1080/?random) no-repeat center fixed;
  background: url(../resources/img/back2.png) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;*/
}
.noMarg{
  margin-right:0; margin-left:0;
}
/*CREER SON PROJET + AJOUTER MEMBRES
_____________________________________________________________*/
#creerProjet, #ajoutMembre, #ProfilePicture{
  position: fixed;
  top: 15vh;
  width: 51%;
  margin: auto;
  z-index: 9999999999999;
}
#creerProjetB, #ajoutMembreB, #ProfilePictureB{
  background: #FFFFFF;
  padding: 2em;
  border-radius: 0.5em;
}
#rideau{
  position: absolute;
  background-color: #525760;
  opacity: 0.7;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100em;
  height: 100%;
}


/*BLOCK de GAUCHE
_________________________________________________________*/
.mywell{
  background-color: rgba(255,255,255, 1);
  padding: 1em;
  border-radius: 1em 0em 0px 0px;
}
.ombreG{
}
.mywellimg{
  padding-left: 0;
  padding-right: 0;
}
.mywell h4{
  font-family: 'Permanent Marker', cursive;
  font-family: 'Kalam';
  font-weight: 700;
  font-size: 1.7em;
}
.label{
  colo: #615f7f;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: #FFFFFF;
  font-family: 'Montserrat';
  border-radius: 0.2em;
  margin-right: -0.5em;
  padding: 0.35em;
  padding-top: 0.4em;
  font-size: 0.45em;
  borde: 1px solid #e3dddd;
  vertical-align: 4px;
}
.label-danger{background-color: #cc4a62;}
.label-info{background-color: #62d3f5;}
.label-success{background-color: #51e3c7}
.mywell h6{
  font-family: 'Lato', serif;
  font-size: 0.8em;
}
.mywell h5{
  font-family: 'Lato', sans-serif;
}
.panel-default{ /*Commentaires*/
  border: none;
  border-bottom: 5px solid #d7e5ee;
  border-radius: 0 0 0em 1em;
}
.panel-group .panel{
  border-radius: 0 0 1em 1em;
  background-color: rgba(255,255,255, 1);
}
.panel-default>.panel-heading{
  background-color: rgba(255,255,255, 1);
  border-top: 1px solid #ddd;
  border-radius: 0 0 1em 1em;
}
/*.collapse.in{background-color: rgba(255,255,255, 0.5);}*/
.comm a:hover, .comm a:focus{
  text-decoration: none;
}
.comment p{
  margin:0;
  margin-bottom: 0.2em;
  opacity: 0.7;
}
.comment span{
  font-style: italic;
  font-weight: bold;
}
.nop{
  padding-right: 0;
  margin-top: 0.3em;
  margin-bottom: 0;
}
.nop2{
  padding-left: 8px;
  margin-top: 0.3em;
  margin-bottom: 0;
}
.lol{
  margin-bottom: 0.2em;
  margin-top: 0.3em;
}


/*BLOC de DROITE
------------------------------------*/
.mywell2{
  background-color: #FFFFFF;
  padding: 1em;
  border-radius: 1em 0em 1em 0em;
  margin-bottom: 1.5em;
  border-bottom: 5px solid #d7e5ee;
}
.plus, .minus{
  float: right;
  margin: 0.2em;
}

/* Gallerie
-----------------------------------*/
.gallery {
  width: 100%;
  float: left;
}
.gallery img {
  width: 100%;
  height: auto;
}
.gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 100px;
}
.gallery figcaption {
  display: none;
}
