body.theSaloon{
  background-color: #eff7fc;
  margin:0;
  padding:0;
  /*background: url(https://unsplash.it/1920/1080/?random) no-repeat center fixed;
  background: url(../resources/img/back2.png) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;*/
}
/*CREER SON PROJET + AJOUTER MEMBRES
_____________________________________________________________*/
#creerProjet, #ajoutMembre{
  position: fixed;
  top: 15vh;
  width: 62%;
  z-index: 9999999999999;
}
#creerProjetB, #ajoutMembreB{
  background: #FFFFFF;
  padding: 2em;
  border-radius: 0.5em;
}
#rideau{
  position: absolute;
  background-color: #525760;
  opacity: 0.7;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100em;
  height: 100%;
}


/*BLOCK de GAUCHE
_________________________________________________________*/
.mywell{
  background-color: rgba(255,255,255, 1);
  padding: 1em;
  border-radius: 1em 0em 0px 0px;
}
.ombreG{
}
.mywellimg{
  padding-left: 0;
  padding-right: 0;
}
.mywell h4{
  font-family: 'Permanent Marker', cursive;
  font-size: 1.7em;
}
.mywell h6{
  font-family: 'Inconsolata', serif;
}
.mywell h5{
  opacity: 1;
  font-family: 'Lato', sans-serif;
}
.panel-default{ /*Commentaires*/
  border: none;
  border-bottom: 5px solid #d7e5ee;
  border-radius: 0 0 0em 1em;
}
.panel-group .panel{
  border-radius: 0 0 1em 1em;
  background-color: rgba(255,255,255, 1);
}
.panel-default>.panel-heading{
  background-color: rgba(255,255,255, 1);
  border-top: 1px solid #ddd;
  border-radius: 0 0 1em 1em;
}
/*.collapse.in{background-color: rgba(255,255,255, 0.5);}*/
.comm a:hover, .comm a:focus{
  text-decoration: none;
}
.comment p{
  margin:0;
  margin-bottom: 0.2em;
  opacity: 0.7;
}
.comment span{
  font-style: italic;
  font-weight: bold;
}
.nop{
  padding-right: 0;
  margin-top: 0.3em;
  margin-bottom: 0;
}
.nop2{
  padding-left: 8px;
  margin-top: 0.3em;
  margin-bottom: 0;
}
.lol{
  margin-bottom: 0.2em;
  margin-top: 0.3em;
}


/*BLOC de DROITE
------------------------------------*/
.mywell2{
  background-color: #FFFFFF;
  padding: 1em;
  border-radius: 1em 0em 1em 0em;
  margin-bottom: 1.5em;
  border-bottom: 5px solid #d7e5ee;
}
.plus, .minus{
  float: right;
  margin: 0.2em;
}

/* Gallerie
-----------------------------------*/
.gallery {
  width: 100%;
  float: left;
}
.gallery img {
  width: 100%;
  height: auto;
}
.gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 100px;
}
.gallery figcaption {
  display: none;
}
